<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Chama User Profile</title>
    
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .container {
            flex: 1;
        }
        .profile-image {
            border: 5px solid #fff;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            max-width: 200px;
        }
        .profile-info {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .data {
			display: flex;
		}
		.data li, .data p {
			padding-left: 6px;
			font-weight: 700;
			list-style: none;
		}
        .footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
        }
	</style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Pareto Chama Group</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user/profile}">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/admin/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <!-- User Profile Section -->
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img src="../images/3135823.png" alt="User Profile Picture" class="img-fluid rounded-circle profile-image" width="200">
                    <h3 sec:authentication="name" class="mt-3">User Name</h3>
                    <p class="text-muted" sec:authentication="authorities">Authorities</p>
                </div>
            </div>
            <div class="col-md-8 profile-info">
                <h4>About Me</h4>
                <div class="data">Role:<p sec:authentication="authorities"></p></div>
                <h4>Contact Information</h4>
                <div class="data">Username:<li th:text="${username}"></li></div>
                <div class="data">Email:<li sec:authentication="name"></li></div>
                <h4>Financial Information</h4>
                <div class="data">Contribution Amount: <b> Kshs.</b> <p th:text="${sub_amount}"></p></div>
                <div class="data">Account Balance: <b> Kshs.</b> <p th:text="${balance}"></p></div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#depositModal">Deposit</button>
                <button class="btn btn-success my-2 my-sm-0" type="button" data-toggle="modal" data-target="#withdrawModal">Withdraw</button>
            </div>
        </div>
    </div>
    
    <!-- Deposit Modal -->
	<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="depositModalLabel">Deposit Funds</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body">
	                <!-- Deposit Form -->
	                <form th:action="@{/user/deposit}" th:object="${depositForm}" method="post">
	                    <div class="form-group">
							<label for="phoneNumber">Phone Number</label>
	                        <input type="tel" pattern="[0]{1}[7]{1}[0-9]{8}" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Example: 07xxxxx123" th:field="*{phoneNumber}" required>
	                        <br>
	                        <label for="depositAmount">Amount to Deposit (Kshs.)</label>
	                        <input type="number"  name="balance" class="form-control" id="depositAmount" placeholder="Enter amount" th:field="*{depositAmount}" required>
	                    </div>
	                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                	<button type="submit" class="btn btn-warning">Deposit</button>
	                </form>
	            </div>
	            <div class="modal-footer">
	                
	            </div>
	        </div>
	    </div>
	</div>
	
	<!-- Withdraw Modal -->
	<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="withdrawModalLabel">Withdraw To M-Pesa</h5>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body">
	                <!-- Withdraw Form -->
	                <form th:action="@{/user/withdraw}" th:object="${withdrawForm}" method="post">
	                    <div class="form-group">
							<label for="phoneNumber">Phone Number</label>
	                        <input type="tel" pattern="[0]{1}[7]{1}[0-9]{8}" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Example: 07xxxxx123" th:field="*{phoneNumber}" required>
	                        <br>
	                        <label for="withdrawAmount">Amount to Withdraw (Kshs.)</label>
	                        <input type="number" name="amount" class="form-control" id="withdrawalAmount" placeholder="Enter amount" th:field="*{withdrawalAmount}" required>
	                    </div>
	                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                	<button type="submit" class="btn btn-success">Withdraw</button>
	                </form>
	            </div>
	            <div class="modal-footer">
	                
	            </div>
	        </div>
	    </div>
	</div>

    <!-- Footer Section -->
    <footer class="footer bg-dark text-white text-center mt-5 py-3">
        &copy; 2023 Pareto Chama Group. All Rights Reserved.
    </footer>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>

